---
import { Icon } from 'astro-icon/components';
---

<section class="flex relative not-prose mt-28 scroll-mt-36" id="about">
  <div class="absolute inset-0 pointer-events-none -z-[1]" aria-hidden="true">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </div><div class="relative mx-auto px-4 md:px-6 text-default max-w-7xl">
    <div class="mx-auto max-w-4xl">
      <div class="md:flex md:gap-16">
        <div class="flex flex-col items-center md:items-start md:basis-1/2 self-center">
          <div class="text-md text-center mx-auto md:text-left dark:text-slate-300 mb-12">
            <h2 class="mb-2 font-bold tracking-tight dark:text-white sm:text-3xl text-2xl">
              Hi, my name is Eric Burel
            </h2><p class="hidden lg:block">
              And I am the author of the NextPatterns.dev course, pleased to meet you!
            </p><br /><p>
              I am an engineer and teacher from France. You may know me from the State of JavaScript/CSS/HTML surveys
              that I help maintain.
            </p><p class="hidden lg:block">
              <br />
              A few years ago, I made the bet that Next.js would become a major technology, and I've never been so right
              in my life.
            </p><br />
            <p>
              For several years, I've been teaching Next.js and web development to various organizations in France and
              abroad. This Next.js course is built upon the knowledge I've gathered both as a developer and a teacher.
            </p><br />
            <p class="font-bold">I hope you'll enjoy following this course as much as I've enjoyed writing it!</p>
          </div>
          <div class="grid gap-y-4 max-w-60 md:gap-y-8 lg:flex lg:items-center grid-cols-2">
            <div class="flex text-icon-wrapper mr-8">
              <div class="text-icon-wrapper-inner flex flex-row max-w-none">
                <div class="icon-wrapper flex lg:justify-left justify-center">
                  <a href="https://www.ericburel.tech/" target="_blank">
                    <Icon name="hugeicons:globe-02" size={32} />
                  </a>
                </div><div class="mt-0.5">
                  <div class="text-md dark:text-white font-medium leading-6 ml-2">
                    <a
                      href="https://www.ericburel.tech/"
                      class="hover:text-primary cursor-pointer"
                      rel="noopener noreferrer"
                      target="_blank">Blog</a
                    >
                  </div>
                </div>
              </div>
            </div><div>
              <div class="flex flex-row max-w-none mr-8">
                <div class="flex justify-left">
                  <a href="https://github.com/eric-burel" target="_blank">
                    <Icon name="hugeicons:github-01" size={32} />
                  </a>
                </div><div class="mt-0.5">
                  <div class="text-md dark:text-white font-medium leading-6 ml-2 rtl:ml-0 rtl:mr-2">
                    <a
                      href="https://github.com/eric-burel"
                      class="hover:text-primary cursor-pointer"
                      rel="noopener noreferrer"
                      target="_blank">Github</a
                    >
                  </div>
                </div>
              </div>
            </div><div>
              <div class="flex flex-row max-w-none mr-8">
                <div class="flex justify-center items-center">
                  <a href="https://x.com/ericbureltech" target="_blank">
                    <Icon name="hugeicons:new-twitter" size={32} />
                  </a>
                </div><div class="mt-0.5">
                  <div class="text-md dark:text-white font-medium leading-6 ml-2 rtl:ml-0 rtl:mr-2">
                    <a
                      href="https://x.com/ericbureltech"
                      class="hover:text-primary cursor-pointer"
                      rel="noopener noreferrer"
                      target="_blank">Twitter</a
                    >
                  </div>
                </div>
              </div>
            </div><div>
              <div class="flex flex-row max-w-none">
                <div class="flex justify-center">
                  <a href="https://www.linkedin.com/in/ericburel/" target="_blank">
                    <Icon name="hugeicons:linkedin-02" size={32} />
                  </a>
                </div><div class="mt-0.5">
                  <div class="text-md dark:text-white font-medium leading-6 ml-2 rtl:ml-0 rtl:mr-2">
                    <a
                      href="https://www.linkedin.com/in/ericburel/"
                      class="hover:text-primary cursor-pointer"
                      rel="noopener noreferrer"
                      target="_blank">Linkedin</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><div class="flex items-center lg:items-start md:basis-1/2 md:mt-0 mt-10" aria-hidden="true">
          <div class="relative mx-auto max-w-4xl">
            <img
              alt="Colorful Image"
              class="mx-auto max-h-[300px] md:max-h-[400px] w-auto bg-gray-500 rounded-lg shadow-lg"
              loading="eager"
              src="/img/eric-burel-500.webp"
              crossorigin="anonymous"
              decoding="async"
              referrerpolicy="no-referrer"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
