---

---

<script>
    const el = document.querySelector("#cross-origin-isolated");
    if (el) {
        el.textContent = window.crossOriginIsolated ? "Yes" : "No";
    }
</script>

<div>
    <p>Is crossOriginIsolated enabled?</p>
    <p id="cross-origin-isolated"></p>
    <a href="https://webcontainers.io/guides/configuring-headers">
        Configure headers for webcontainers</a
    >
</div>
