---
const {} = Astro.props
---

<div>
  This pattern is a work-in-progress. Current status:
  <table>
    <thead>
      <th>Text</th>
      <th>Code demo</th>
      <th>Exercise</th>
    </thead>
    <tbody>
      <tr>
        <td>In progress</td>
        <td>In progress</td>
        <td>In progress</td>
      </tr>
    </tbody>
  </table>
</div>
